.experience {
  background-color: var(--color-orange);
  padding: 0 var(--mar-hor);
  aside {
    padding: var(--mar-ver);
  }
  main {
    .list-container {
      height: 90%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .list-card {
        width: 40vw;
        margin: 3% 0;
        min-width: 25rem;
      }
      li {
        color: #ffffff;
        span {
          color: #000000;
        }
      }
    }
  }
  footer {
    padding: var(--mar-ver) 0;
    svg {
      padding-left: 50%;
    }
  }
}
@media only screen and (min-width: 992px) {
  section {
  }
  .experience {
    main {
      height: 70vh;
      .list-container {
        .list-card {
          width: calc(10rem + 15vw);
        }
      }
    }
  }
}
