.experience {
  background-color: #ffa300;
}
.experience-header {
  padding-bottom: 30px;
}
.experience .list {
  color: #fff;
}
.experience .list-text {
  color: #000;
}
.experience .s-foot {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0;
}
.experience-foot-svg {
  width: 50%;
}
.experience .list-item {
  width: 50%;
}
@media (orientation: landscape) {
  .experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .experience-list-sections {
    width: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .experience {
    min-height: 910px;
  }
  .experience-list-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28vh;
    min-height: 190px;
    border: 2px rgb(122, 20, 37);
  }
  .experience-list-sections .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
    min-height: 100px;
    border: 2px rgb(28, 19, 112);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1650px) {
}
