.get-in-touch {
  padding: var(--mar-ver) var(--mar-hor);

  aside {
  }
  main {
    .form-container {
      padding-left: var(--mar-hor);
      display: flex;
      flex-direction: column;
      .contact-data {
        font-size: clamp(1.8rem, 1.8rem, 2.4rem);
        line-height: clamp(2.4rem, 2.4rem, 3rem);
        padding-bottom: var(--mar-ver);
        .email {
          color: var(--color-orange);
        }
      }
      form {
        padding-right: var(--mar-hor);
        input,
        textarea {
          background-color: #000000;
          color: #ffffff;
          padding: calc(var(--mar-ver) / 2) calc(var(--mar-hor) / 2);
          margin: calc(var(--mar-ver) / 2) 0;
          font-family: Heebo;
          width: 100%;
          resize: none;
        }

        input.error {
          background-color: var(--color-orange);
        }
        textarea.error {
          background-color: var(--color-orange);
        }
        input.error::placeholder {
          color: #ffffff;
        }
        textarea.error::placeholder {
          color: #ffffff;
        }

        .policy-container {
          display: flex;
          justify-content: stretch;
          input {
            width: auto;
            padding: 0;
            margin: auto var(--mar-hor);
          }
          label {
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
  footer {
    padding-left: var(--mar-hor);
  }
}
@media only screen and (min-width: 992px) {
  section.get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .get-in-touch {
    main {
      .form-container {
        flex-direction: row;
        form {
          margin-left: var(--mar-hor);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .i-name,
          .i-phone {
            margin-top: 0;
            width: 47.5%;
          }
          .i-message {
            height: 20vh;
          }
          .i-message::placeholder {
            top: 20px;
          }
          .policy-container {
            width: 100%;
            input {
              margin: 0 3%;
            }
            label {
            }
          }
          button {
          }
        }
      }
    }
  }
}
