.intro {
  background-color: #000;
  padding-top: 100px;

  height: 100vh;
  min-height: 450px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.intro.lg,
.intro.xlg {
  padding-top: 160px;
}

.intro-top-svg-2 {
  padding-left: 30px;
}

.intro .s-main,
.intro .s-foot {
  padding-left: 60px;
}

.intro .s-top {
  padding-top: 30px;
}

.motto {
  color: #ffffff;
  font-size: 4.2rem;
  line-height: 5.7rem;
}
.intro-p {
  color: #fff;
  font-family: Heebo;
  font-size: 1.6rem;

  line-height: 2.4rem;
  display: inline-block;
}
.intro-p p {
  font-family: Heebo;
  color: #ffa300;
}
.intro-p span {
  word-spacing: 0.3rem;
}
.intro-foot-svg {
  display: none;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .intro-p {
    padding-bottom: 30px;
  }
  .intro-foot-svg {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1650px) {
  .intro {
    padding-top: 6rem;
  }

  .intro .s-top {
    padding-top: 0;
  }
  .intro .s-foot,
  .intro .s-main {
    padding-left: 24rem;
  }
  .motto {
    font-size: 6.6rem;
    line-height: 9rem;
  }
  .intro-p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 6rem;
  }
  .intro-p p {
  }
  .intro-p span {
    word-spacing: 0.3rem;
  }
  .intro-top-svg-2 {
    padding-left: 8rem;
  }
}
