.mission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mission-top-svg {
  padding-left: 30px;
}
.mission .s-foot {
  padding-top: 0;
}
.mission .header {
  padding-left: 30px;
  line-height: 4.5rem;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mission .btn {
    width: 22rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1650px) {
  .mission {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16.17rem;
  }
  .mission .s-top {
    padding-bottom: 0;
  }
  .mission .s-main {
    width: 50vw;
    margin: 0 auto;
    padding: 0;
  }
  .mission .header {
    font-size: 4.3rem;
    line-height: 7rem;
  }
}
