%flex-col {
  display: flex;
  flex-direction: column;
}
.mission {
  padding: var(--mar-ver) var(--mar-hor);
  @extend %flex-col;
  justify-content: space-between;
  aside {
    line-height: 3.5rem;
    svg {
      stroke: var(--color-orange);
    }
    svg:nth-child(2) {
      padding-left: var(--mar-hor);
    }
  }
  main {
    padding-left: var(--mar-hor);

    @extend %flex-col;
    h2 {
      //   clamp mozna zastosowac miedzy @media query
      //   font-size: clamp(3rem, 3.65rem, 4.6rem);
      //   line-height: clamp(4.5rem, 5.75rem, 7rem);
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }
}
