.navbar {
  height: 0;
}
.logo-bg {
  position: fixed;
  z-index: 100;
  svg {
    position: fixed;
    left: var(--mar-hor);
    top: var(--mar-ver);
  }
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
