.navbar {
  background-color: #000000;
  color: #ffffff;
  height: 0;
}
.joist {
  position: fixed;
  background-color: #000000;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.joist.lg,
.joist.xlg {
  padding: 60px;
  width: auto;

  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.logo-svg {
  z-index: 99;
  justify-self: flex-start;
}
.nav-menu {
  /* width: 215px; */
  display: none;
}

.nav-menu.active {
  background-color: #000000;
  padding: 30px;

  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-list {
  color: #000000;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  z-index: 99;
}
.page-list {
  justify-content: center;
  font-size: 2.9rem;
  line-height: 4rem;
  flex: 1 1 auto;
}

.social-list {
  line-height: 2.7rem;
  flex: 1 1 auto;
}

.page-list .nav-item {
  margin: 1rem 0;
}
.page-list .nav-link {
  color: #ffffff;
  text-decoration: none;
}

.social-list .nav-link {
  font-family: Heebo;
  color: #ffffff;
  text-decoration: none;
}
.menu-foot {
  position: fixed;
  bottom: 30px;
  right: 0px;

  padding-left: 90px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (orientation: landscape) {
  .social-list {
    justify-content: center;
  }
  .page-list .nav-item {
    margin: 0.1rem 0;
  }
  .menu-foot {
    width: 70vw;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }
  .joist {
    margin-top: -70vh;
    width: 215px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    z-index: 5;
  }
  .logo-svg {
    width: 100%;
    padding-bottom: 3rem;
    z-index: 15;
  }
  .video-box {
    width: 215px;
    height: 100vh;
    position: fixed;
    top: 20px;
    overflow: hidden;
  }
  .video-cover {
    width: 215px;
    height: 70vh;

    background-color: rgb(124, 22, 99);
    position: sticky;
    top: 9.2rem;
    z-index: 10;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1650px) {
  .joist {
    width: 32rem;
    padding: 60px;
  }
}
